<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/generalAdmin.css">
   <link rel="stylesheet" href="css/adminIndex.css">
    <link rel="stylesheet" media="(max-width: 600px)" href="css/tablet.css">
    <link rel="stylesheet" media="(max-width: 800px)" href="css/pc.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <header>
        <h2>LogoAdmin</h2><!--Esto será luego una imagen o algo asi-->

    </header>
    <nav>
        <h3 th:href="">Contacto</h3>
        <h3 th:href="">Cliente</h3>
        <h3 th:href="">Libro</h3>
    </nav>
    <main>

        <button class="btnAdmin"> <h2>Clientes</h2> <img src="images/groups_white_48dp.svg" alt=""></button>
        <button class="btnAdmin"><h2>Libros</h2><img src="images/book_white_24dp.svg" alt=""></button>
        <button class="btnAdmin"><h2>Contacto</h2><img src="images/support_agent_white_48dp.svg" alt=""></button>
    </main>
    <footer>
        <div>
            <div>
                <p>adipisicing elit. Perferendis praesentium veniam eligendi</p>
            </div>
            <div>
                <p>nihil, totam molestiae, soluta facilis quibusdam fugit reiciendis natus quam fuga alias dolores
                    repudiandae!
                </p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur aliquid deserunt. Iusto, a </p>
            </div>
        </div>
        <h4>©Bibliotecarios S.L. 2022/2023</h4>
    </footer>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/admin.js"></script>

</body>

</html>