<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Administracion</title>
<link rel="stylesheet" href="css/general.css">
<link rel="stylesheet" href="css/generalAdmin.css">
<link rel="stylesheet" href="css/adminIndex.css">
<link rel="stylesheet" media="(max-width: 600px)" href="css/movil.css">
<link rel="stylesheet" media="(min-width: 600px) and (max-width: 800px)"
	href="css/tablet.css">
<link rel="stylesheet" media="(min-width: 800px)" href="css/pc.css">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
	<header>
		<h2>
			<a th:href="@{/adminIndex}">LogoAdmin</a>
		</h2>
		<div sec:authorize="isAuthenticated()">
			<h2 id="mensajeBienvenida" th:inline="text">
				<a th:href="@{/}"> ¡Hola, <span th:remove="tag"
					sec:authentication="name"> </span>!
				</a>

			</h2>
		</div>
		<!--Esto será luego una imagen o algo asi-->

	</header>
	<aside id="menuMovil">
		<img src="images/close_black_24dp.svg">
		<h3>
			<a th:href="@{/adminContacto}">Contacto</a>
		</h3>
		<h3>
			<a th:href="@{/adminClientes}">Cliente</a>
		</h3>
		<h3>
			<a th:href="@{/adminLibros}">Libro</a>
		</h3>
	</aside>
	<nav>
		<h3>
			<a th:href="@{/}">Inicio</a>
		</h3>
		<h3>
			<a th:href="@{/tienda}">Libros</a>
		</h3>
		<h3>
			<a th:href="@{/contacto}">Contacto</a>
		</h3>
		<!--solo puede haber 1 de estos dos activo-->
		<h3 sec:authorize="isAnonymous()">
			<a th:href="@{/login}">Cuenta</a>
		</h3>
		<h3 sec:authorize="isAuthenticated()">
			<a
				th:href="@{/usuarios/{idUsuario}(idUsuario=${#authentication.name})}">Cuenta</a>
		</h3>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h3>
				<a th:href="@{/adminIndex}">Admin</a>
			</h3>
		</div>
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<h3>
					<input id="logoutBoton" type="submit" value="Logout" />
				</h3>
			</form>
		</div>

		<!-- SI NO SE HA AUTENTICADO -->
		<div sec:authorize="isAnonymous()">
			<h3>
				<a href="/login">Login</a>
			</h3>

		</div>
		<div sec:authorize="isAnonymous()">
			<h3>
				<a th:href="@{/registro}">Registro</a>
			</h3>
		</div>
		<div id="google_translate_element" class="google"></div>
		</div>

		<!---->
		<img th:src="@{/images/menu_black_24dp.svg}" id="btnMenuMovil" />
	</nav>
	<main id="mainIndexAdmin">

		<a th:href="@{/adminClientes}">
			<button class="btnAdmin">
				<h2>Clientes</h2>
				<img src="images/groups_white_48dp.svg" alt="">
			</button>
		</a> <a th:href="@{/adminLibros}">
			<button class="btnAdmin">
				<h2>Libros</h2>
				<img src="images/book_white_24dp.svg" alt="">
			</button>
		</a> <a th:href="@{/adminContacto}">
			<button class="btnAdmin">
				<h2>Contacto</h2>
				<img src="images/support_agent_white_48dp.svg" alt="">
			</button>
		</a>
		<a th:href="@{/buscador}">
			<button class="btnAdmin">
				<h2>Buscar</h2>
				<img src="images/search_FILL0_wght700_GRAD200_opsz24.svg" alt="">
			</button>
		</a>
	</main>
	<footer>
		<div>
			<div>
				<p>En la Biblioteca, nos esforzamos por brindar un acceso fácil
					y conveniente a una amplia selección de libros y recursos.</p>
			</div>
			<div>
				<p>Nuestro compromiso es brindar una experiencia de lectura
					inolvidable</p>
			</div>
			<div>
				<p>Nuestro equipo de bibliotecarios trabaja incansablemente para
					ofrecerte los mejores recursos</p>
			</div>
			<div>
				<p>Gracias por formar parte de esta comunidad de lectores</p>
			</div>
		</div>
		<h4>©Bibliotecarios S.L. 2022/2023</h4>
	</footer>
	<script type="text/javascript"
		src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script th:src="@{/js/traduccion.js}"></script>
	<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
	<script th:src="@{/js/admin.js}"></script>
</body>

</html>