<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Actualizar usuario</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link rel="stylesheet" media="(max-width: 600px)"
	th:href="@{/css/movil.css}" />
<link rel="stylesheet" media="(min-width: 600px) and (max-width: 800px)"
	th:href="@{/css/tablet.css}" />
<link rel="stylesheet" media="(min-width: 800px)"
	th:href="@{/css/pc.css}" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/css/editarUsers.css}">

</head>
<body>
	<header>
		<h2>
			<a th:href="@{/adminIndex}">Biblioteca</a>
		</h2>
		<!--Esto será luego una imagen o algo asi-->
	</header>
	<aside id="menuMovil">
		<img src="images/close_black_24dp.svg">
		<h3>
			<a th:href="@{/adminContacto}">Contacto</a>
		</h3>
		<h3>
			<a th:href="@{/adminClientes}">Cliente</a>
		</h3>
		<h3>
			<a th:href="@{/adminLibros}">Libro</a>
		</h3>
						<h3>
			<a th:href="@{/buscador}">Buscador</a>
		</h3>
	</aside>
	<nav>
		<h3>
			<a th:href="@{/adminContacto}">Contacto</a>
		</h3>
		<h3>
			<a th:href="@{/adminClientes}">Cliente</a>
		</h3>
		<h3>
			<a th:href="@{/adminLibros}">Libro</a>
		</h3>
						<h3>
			<a th:href="@{/buscador}">Buscador</a>
		</h3>
		<div id="google_translate_element" class="google"></div>
		</div>

		<!---->
		<img src="images/menu_black_24dp.svg" id="btnMenuMovil">
	</nav>
	<h2 class="mensaje-error" th:if="${errorMessage}"
		th:utext="${errorMessage}"></h2>
	<br>
	<h1>
		Editando a:&nbsp;<span th:text="${usuarioDTO.nombre}"
			style="text-decoration: underline;"></span>
	</h1>
	<form method="POST" th:action="@{/usuarios/saveAdmin}"
		th:object="${usuarioDTO}">
		<table>
			<tr hidden>
				<td><label for="nombre">ID:</label></td>
				<td><input type="text" id="id" th:field="*{id}" readonly /></td>
			</tr>
			<tr>
				<td><label for="nombre">Nombre:</label></td>
				<td><input type="text" id="nombre" th:field="*{nombre}" /></td>
			</tr>
			<tr>
				<td><label for="apellidos">Apellidos:</label></td>
				<td><input type="text" id="apellidos" th:field="*{apellidos}" /></td>
			</tr>
			<tr>
				<td><label for="email">Email:</label></td>
				<td><input type="email" id="email" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td><label for="username">Username:</label></td>
				<td><input type="text" id="username" th:field="*{username}" /></td>
			</tr>
			<tr hidden>
				<td><label for="nombre">Password:</label></td>
				<td><input type="text" id="password" th:field="*{password}"
					readonly /></td>
			</tr>
			<tr>
			  <td><label for="esadmin">Cuenta Premium:</label></td>
			  <td>
			    <input type="checkbox" id="esadmin" name="rol" th:field="*{es_administrador}" class="rol-checkbox" />
			  </td>
			</tr>
			<tr>
			  <td><label for="escliente">Participando en el Concurso:</label></td>
			  <td>
			    <input type="checkbox" id="escliente" name="rol" th:field="*{es_cliente}" class="rol-checkbox" />
			  </td>
			</tr>
		</table>
		<input id="enviarForm" class="enlace-boton" type="submit"
			value="Actualizar" /> <br> <a class="enlace-boton"
			th:href="@{/adminClientes}"><img
					th:src="@{/images/arrow_back_black_24dp.svg}"
					class="botonIconoBack" /></a>
	</form>


	<footer>
		<div>
			<div>
				<p>En la Biblioteca, nos esforzamos por brindar un acceso fácil
					y conveniente a una amplia selección de libros y recursos.</p>
			</div>
			<div>
				<p>Nuestro compromiso es brindar una experiencia de lectura
					inolvidable</p>
			</div>
			<div>
				<p>Nuestro equipo de bibliotecarios trabaja incansablemente para
					ofrecerte los mejores recursos</p>
			</div>
			<div>
				<p>Gracias por formar parte de esta comunidad de lectores</p>
			</div>
		</div>
		<h4>©Bibliotecarios S.L. 2022/2023</h4>
	</footer>
	<script type="text/javascript"
		src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
	<script th:src="@{/js/traduccion.js}"></script>
	<script th:src="@{/js/admin.js}"></script>
</body>
</html>