<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Confirmacion Alquiler</title>
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link rel="stylesheet" media="(max-width: 600px)"
	th:href="@{/css/movil.css}" />
<link rel="stylesheet" media="(min-width: 600px) and (max-width: 800px)"
	th:href="@{/css/tablet.css}" />
<link rel="stylesheet" media="(min-width: 800px)"
	th:href="@{/css/pc.css}" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body>

	<header>
		<h2>
			<a th:href="@{/}">Biblioteca</a>
		</h2>
		<!--Esto será luego una imagen o algo asi-->
		<div sec:authorize="isAuthenticated()">
			<h2 id="mensajeBienvenida" th:inline="text">
				<a th:href="@{/}"> ¡Hola, <span th:remove="tag"
					sec:authentication="name"> </span>!
				</a>

			</h2>
		</div>
	</header>

	<aside id="menuMovil">
		<img src="/images/close_black_24dp.svg">
		<h3>
			<a th:href="@{/}">Inicio</a>
		</h3>
		<h3>
			<a th:href="@{/tienda}">Libros</a>
		</h3>
		<h3>
			<a th:href="@{/contacto}">Contacto</a>
		</h3>
		<!--solo puede haber 1 de estos dos activo-->
		<h3>
			<a href="proximamente.html">Cuenta</a>
		</h3>
		<h3>
			<a th:href="@{/foro}">Foro</a>
		</h3>
		<h3>
			<a th:href="@{/login}">Login</a>
		</h3>
	</aside>
	<nav>
		<h3>
			<a th:href="@{/}">Inicio</a>
		</h3>
		<h3>
			<a th:href="@{/tienda}">Libros</a>
		</h3>
		<h3>
			<a th:href="@{/contacto}">Contacto</a>
		</h3>
		<h3>
			<a th:href="@{/foro}">Foro</a>
		</h3>
		<!--solo puede haber 1 de estos dos activo-->
		<h3 sec:authorize="isAnonymous()">
			<a th:href="@{/login}">Cuenta</a>
		</h3>
		<h3 sec:authorize="isAuthenticated()">
			<a
				th:href="@{/usuarios/{idUsuario}(idUsuario=${#authentication.name})}">Cuenta</a>
		</h3>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h3>
				<a th:href="@{/adminIndex}">Admin</a>
			</h3>
		</div>
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<h3>
					<input id="logoutBoton" type="submit" value="Logout" />
				</h3>
			</form>
		</div>

		<!-- SI NO SE HA AUTENTICADO -->
		<div sec:authorize="isAnonymous()">
			<h3>
				<a href="/login">Login</a>
			</h3>

		</div>
		<div sec:authorize="isAnonymous()">
			<h3>
				<a th:href="@{/registro}">Registro</a>
			</h3>
		</div>
		<div id="google_translate_element" class="google"></div>
		</div>

		<!---->
		<img th:src="@{/images/menu_black_24dp.svg}" id="btnMenuMovil" />
	</nav>


	<main>
		<div th:if="${existe == 0}" class="confirmDiv">
			<h1>No hay Stock Disponible</h1>
			<p>
				Lo sentimos, en este momento no hay unidades disponibles del libro <b
					th:text="${libroDTO.titulo}"></b>.
			</p>
			<p>
				<b>Editorial:</b> <span th:text="${libroDTO.editorialDTO.nombre}"></span>
			</p>
			<p>
				<b>ISBN:</b> <span th:text="${libroDTO.isbn}"></span>
			</p>
			<p>Puedes buscar otro título en nuestro catálogo.</p>
			<img th:src="'/imagenesLibros/' + ${libroDTO.isbn} + '.jpg'" alt=""
				class="imagenConfirm">
				
				<div class="catalogoDiv">
				<h2>Explora Nuestro Catálogo</h2>
				<p>En nuestra biblioteca encontrarás una amplia selección de
					libros de diversos géneros y temáticas.</p>
				<p>Nuestro catálogo se actualiza constantemente con las últimas
					novedades editoriales.</p>
				<a th:href="@{/tienda}">
					<button>Volver al Catálogo</button>
				</a>
			</div>
		</div>

		<div th:if="${existe > 0}" class="confirmDiv">
			<h1>
				<b th:text="${libroDTO.titulo}"></b>
			</h1>
			<p>
				<b>Editorial:</b> <span th:text="${libroDTO.editorialDTO.nombre}"></span>
			</p>
			<p>
				<b>ISBN:</b> <span th:text="${libroDTO.isbn}"></span>
			</p>
			<img th:src="'/imagenesLibros/' + ${libroDTO.isbn} + '.jpg'" alt=""
				class="imagenConfirm">
			<p>¿Quieres alquilar este libro?</p>
			<a
				th:href="@{/usuario/{idUsuario}/alquilar/{idLibro}/confirmar (idUsuario=${#authentication.name},idLibro=${libroDTO.isbn})}">
				<button>Alquilar Este Libro</button>
			</a>
		</div>

		<div th:if="${alquilado}" class="confirmDiv">
			<h1>¡Libro Alquilado Correctamente!</h1>
			<p>Gracias por confiar en nuestra biblioteca para el alquiler de
				tu libro.</p>
			<p>
				El libro que has alquilado es: <b id="correoTitulo"
					th:text="${ejemplarDTO.libroDTO.titulo}"></b>.
			</p>
			<img
				th:src="'/imagenesLibros/' + ${ejemplarDTO.libroDTO.isbn} + '.jpg'"
				alt="" class="imagenConfirm">

			<p>
				La fecha de inicio del alquiler es: <b id="correoFechaIn"
					th:text="${#dates.format(alquilerDTO.fecha_inicio, 'dd/MM/yyyy')}"></b>.
				La fecha de entrega para el libro es: <b id="correoFecha"
					th:text="${#dates.format(alquilerDTO.fecha_limite, 'dd/MM/yyyy')}"></b>.
			</p>
			<p>"Recuerda que, para disfrutar del libro, deberás pasar por
				nuestra biblioteca física antes de la fecha límite de devolución. La
				dirección y horarios de atención los puedes encontrar en nuestra
				página web o preguntar a nuestro personal de atención al cliente.
				¡Te esperamos!"</p>




			<div class="catalogoDiv">
				<h2>¿Quieres Que Te Enviemos Un Correo Electronico?</h2>
				<h3>Recomendamos que solicite una confirmación de correo
					electrónico para asegurarse de recibir una notificación oficial y
					escrita sobre su alquiler de libro en nuestra biblioteca. Al
					solicitar una confirmación de correo, podrá tener un registro
					documentado de su alquiler y recibir la tranquilidad de que ha sido
					registrado correctamente.</h3>

				<button onclick="enviarCorreoAlquiler()" id="miBoton2">Quiero
					recibir un correo de confirmación</button>


				<h3>
					Te lo enviaremos a <b id="correoElectronico2"
						th:text="${usuarioDTO.email}"></b>
				</h3>
				<h3 th:text="${usuarioDTO.username}" id="correoUsername2"></h3>

			</div>

			<div class="catalogoDiv">
				<h2>Explora Nuestro Catálogo</h2>
				<p>En nuestra biblioteca encontrarás una amplia selección de
					libros de diversos géneros y temáticas.</p>
				<p>Nuestro catálogo se actualiza constantemente con las últimas
					novedades editoriales.</p>
				<a th:href="@{/tienda}">
					<button>Volver al Catálogo</button>
				</a>
			</div>
		</div>



		<div class="catalogoDiv" th:if="${solicitud == true}">
			<h2>¿Quieres Que Te Enviemos Un Correo Electronico?</h2>

			<button onclick="enviarCorreo()" th:if="${solicitud == true}"
				id="miBoton">Quiero recibir un correo de confirmación</button>




			<h3 th:if="${solicitud == true}">
				Te lo enviaremos a <b id="correoElectronico"
					th:text="${solicitudDTO.email}"></b>
			</h3>

			<div>
				<h2>Solicitud</h2>


				<h3 th:text="${solicitudDTO.username}" id="correoUsername"></h3>

				<h4 th:text="${solicitudDTO.mensaje}" id="correoMensaje"></h4>

			</div>


			<div class="catalogoDiv">
				<h2>Explora Nuestro Catálogo</h2>
				<p>En nuestra biblioteca encontrarás una amplia selección de
					libros de diversos géneros y temáticas.</p>
				<p>Nuestro catálogo se actualiza constantemente con las últimas
					novedades editoriales.</p>
				<a th:href="@{/tienda}">
					<button>Volver al Catálogo</button>
				</a>
			</div>
	</main>
	<footer>
		<div>
			<div>
				<h5>Nosotros</h5>
				<ul>
					<li><a>Acerca de nosotros</a></li>
					<li><a>Contacto</a></li>
					<li><a>Empleo</a></li>
				</ul>
			</div>

			<div>
				<h5>Servicios</h5>
				<ul>
					<li><a>Envío</a></li>
					<li><a>Devoluciones</a></li>
					<li><a>Preguntas frecuentes</a></li>
				</ul>
			</div>
			<div>
				<h5>Contacto</h5>
				<ul>
					<li>123 Calle Principal</li>
					<li>Ciudad, Estado</li>
					<li>Código Postal</li>
					<li>555-555-5555</li>
					<li><a>info@libreria.com</a></li>
				</ul>
			</div>
		</div>
		<h4>
			Copyright &copy; Bibliotecarios S.L.
			<script>
          document.write(new Date().getFullYear());
        </script>
		</h4>
	</footer>
	<script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
	<script type="text/javascript"
		src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script th:src="@{/js/traduccion.js}"></script>
	<script th:src="@{/js/email.js}"></script>
	<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
	<script th:src="@{/js/general.js}"></script>
</body>
</html>
