<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/contacto.css">
    <link rel="stylesheet" href="css/movil.css">
    <link rel="stylesheet" media="(max-width: 600px)" href="css/tablet.css">
    <link rel="stylesheet" media="(max-width: 800px)" href="css/pc.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <header>
        <h2>Biblioteca</h2><!--Esto será luego una imagen o algo asi-->

    </header>
    <nav>
        <h3 th:href="">Inicio</h3>
        <h3 th:href="">Libros</h3>
        <h3 th:href="">Contacto</h3>
        <h3 th:href="">Cuenta</h3>
    </nav>
    <main>
        <section>
            <section>
                <h2>Contacto</h2>
                <h4>¿Quieres Recomendar Un Libro</h4>
                <h4>Que No Está En Nuestro Catalogo?</h4>
            </section>
            <section>
                <h3>Direccion</h3>
                <p>Biblioteca Pública Municipal</p>
                <p>Carrer Estació</p>
                <p>46540, Valencia</p>
            </section>
            <section>
                <h3>Horario</h3>
                <p><b>Lunes a Sabado</b></p>
                <p>09:00 - 19:30</p>
                <p><b>Domingos y Festivos</b></p>
                <p>09:00 - 14:30</p>
            </section>
            <div>
                <form>
                    <input type="text" id="nombre" placeholder="Nombre">
                    <input type="email" id="email" placeholder="Correo Electrónico">
                    <input type="text" id="titulo" placeholder="Titulo Libro">
                    <input type="text" id="isbn" placeholder="ISBN Libro">
                    <textarea id="mensaje" placeholder="Mensaje"></textarea>
                    <button id="btnEnviar">Enviar</button>
                </form>

            </div>
        </section>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98391.67516787963!2d-0.3864174545368164!3d39.58801314828648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6040bd0a70c63b%3A0x1cc8d0872252a152!2sBiblioteca%20P%C3%BAblica%20Municipal%20El%20Puig%20de%20Santa%20Maria!5e0!3m2!1ses!2ses!4v1674632286438!5m2!1ses!2ses"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <footer>
        <div>
            <div>
                <p>adipisicing elit. Perferendis praesentium veniam eligendi</p>
            </div>
            <div>
                <p>nihil, totam molestiae, soluta facilis quibusdam fugit reiciendis natus quam fuga alias dolores
                    repudiandae!
                </p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur aliquid deserunt. Iusto, a </p>
            </div>
        </div>
        <h4>©Bibliotecarios S.L. 2022/2023</h4>
    </footer>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/general.js"></script>

</body>

</html>