
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Pagina Principal</title>
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link rel="stylesheet" media="(max-width: 600px)"
	th:href="@{/css/movil.css}" />
<link rel="stylesheet" media="(min-width: 600px) and (max-width: 800px)"
	th:href="@{/css/tablet.css}" />
<link rel="stylesheet" media="(min-width: 800px)"
	th:href="@{/css/pc.css}" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/css/editarUsers.css}">

</head>

<body>
	<div id="tapar"></div>
	<header>
		<h2>
			<a th:href="@{/}">Biblioteca</a>
		</h2>
		<!--Esto será luego una imagen o algo asi-->
		<div sec:authorize="isAuthenticated()">
			<h2 id="mensajeBienvenida" th:inline="text">
				<a th:href="@{/}"> ¡Hola, <span th:remove="tag"
					sec:authentication="name"> </span>!
				</a>

			</h2>
		</div>
	</header>

	<aside id="menuMovil">
		<img src="/images/close_black_24dp.svg">
		<h3>
			<a th:href="@{/}">Inicio</a>
		</h3>
		<h3>
			<a th:href="@{/tienda}">Libros</a>
		</h3>
		<h3>
			<a th:href="@{/contacto}">Contacto</a>
		</h3>
		<!--solo puede haber 1 de estos dos activo-->
		<h3>
			<a href="proximamente.html">Cuenta</a>
		</h3>
		<h3>
			<a th:href="@{/login}">Login</a>
		</h3>
	</aside>
	<nav>
		<h3>
			<a th:href="@{/}">Inicio</a>
		</h3>
		<h3>
			<a th:href="@{/tienda}">Libros</a>
		</h3>
		<h3>
			<a th:href="@{/contacto}">Contacto</a>
		</h3>
		<!--solo puede haber 1 de estos dos activo-->
		<h3 sec:authorize="isAnonymous()">
			<a th:href="@{/login}">Cuenta</a>
		</h3>
		<h3 sec:authorize="isAuthenticated()">
			<a
				th:href="@{/usuarios/{idUsuario}(idUsuario=${#authentication.name})}">Cuenta</a>
		</h3>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h3>
				<a th:href="@{/adminIndex}">Admin</a>
			</h3>
		</div>
		<h3 sec:authorize="isAuthenticated()">
			<a
				th:href="@{/zonaPremium/{idUsuario}(idUsuario=${#authentication.name})}">Zona Premium</a>
		</h3>
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<h3>
					<input id="logoutBoton" type="submit" value="Logout" />
				</h3>
			</form>
		</div>

		<!-- SI NO SE HA AUTENTICADO -->
		<div sec:authorize="isAnonymous()">
			<h3>
				<a href="/login">Login</a>
			</h3>

		</div>
		<div sec:authorize="isAnonymous()">
			<h3>
				<a th:href="@{/registro}">Registro</a>
			</h3>
		</div>
		<div id="google_translate_element" class="google"></div>
		</div>

		<!---->
		<img th:src="@{/images/menu_black_24dp.svg}" id="btnMenuMovil" />
	</nav>
	<main>
		<h1>
			Estas en tu perfil:&nbsp;<span th:text="${usuarioDTO.nombre}"
				style="text-decoration: underline;"></span>
		</h1>
		<form method="POST" th:action="@{/usuarios/save}"
			th:object="${usuarioDTO}">
			<table>
				<tr hidden>
					<td><label for="nombre">ID:</label></td>
					<td><input type="text" id="id" th:field="*{id}" readonly /></td>
				</tr>
				<tr>
					<td><label for="nombre">Nombre:</label></td>
					<td><input type="text" id="nombre" th:field="*{nombre}" /></td>
				</tr>
				<tr>
					<td><label for="apellidos">Apellidos:</label></td>
					<td><input type="text" id="apellidos" th:field="*{apellidos}" /></td>
				</tr>
				<tr>
					<td><label for="email">Email:</label></td>
					<td><input type="email" id="email" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td><label for="username">Username:</label></td>
					<td><input type="text" id="username" th:field="*{username}" /></td>
				</tr>
				<tr hidden>
					<td><label for="nombre">Password:</label></td>
					<td><input type="text" id="password" th:field="*{password}"
						readonly /></td>
				</tr>
				<tr hidden>
					<td><label for="nombre">Es Admin:</label></td>
					<td><input type="text" id="esadmin"
						th:field="*{es_administrador}" readonly /></td>
				</tr>
				<tr hidden>
					<td><label for="nif">Nif:</label></td>
					<td><input type="text" id="nif" th:field="*{nif}" readonly /></td>
				</tr>
				<tr hidden>
					<td><label for="nombre">Es cliente:</label></td>
					<td><input type="text" id="escliente" th:field="*{es_cliente}"
						readonly /></td>
				</tr>
			</table>
			<div style="display: flex;">
			<input class="enlace-boton" id="enviarForm" type="submit" value="Actualizar" /> 
			<a th:if="${usuarioDTO.es_administrador} == false" class="enlace-boton" id="enviarForm" th:href="@{/usuarios/{idUsuario}/confirmacionCorreo(idUsuario=${#authentication.name})}" style="margin-left: 10px;">Mejorar Plan</a>
			<a th:if="${usuarioDTO.es_administrador} == true" class="enlace-boton" id="enviarForm" th:href="@{/usuarios/{idUsuario}/cancelacionCorreo(idUsuario=${#authentication.name})}" style="margin-left: 10px;">Cancelar Plan</a>
			</div>
			<br> 
			<a class="enlace-boton" th:href="@{/}">Volver</a>
		</form>
	</main>
	<footer>
		<div>
			<div>
				<h5>Nosotros</h5>
				<ul>
					<li><a>Acerca de nosotros</a></li>
					<li><a>Contacto</a></li>
					<li><a>Empleo</a></li>
				</ul>
			</div>

			<div>
				<h5>Servicios</h5>
				<ul>
					<li><a>Envío</a></li>
					<li><a>Devoluciones</a></li>
					<li><a>Preguntas frecuentes</a></li>
					<br>
					<br>
					<h5>Redes sociales</h5>
				</ul>
			</div>
			<div>
				<h5>Contacto</h5>
				<ul>
					<li>123 Calle Principal</li>
					<li>Ciudad, Estado</li>
					<li>Código Postal</li>
					<li>555-555-5555</li>
					<li><a>info@libreria.com</a></li>
				</ul>
			</div>
		</div>
		<div id="contenedorSocial">
			<abbr title="Siguenos en Instagram"><a
				th:href="@{https://www.instagram.com/bibliotecasocialpremium/}">
					<img th:src="'/images/instagram.png'" alt="Logo de mi proyecto">
			</a></abbr> <abbr title="Siguenos en Twitter"><a
				th:href="@{https://twitter.com/bilbiotecaSP}"> <img
					th:src="'/images/twitter.png'" alt="Logo de mi proyecto"></a></abbr>
		</div>
		<h4>
			Copyright &copy; Bibliotecarios S.L.
			<script>
          document.write(new Date().getFullYear());
        </script>
		</h4>
	</footer>

	<script type="text/javascript"
		src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script th:src="@{/js/traduccion.js}"></script>

	<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
	<script th:src="@{/js/general.js}"></script>

</body>
</html>

