<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identificate</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/movil.css">
    <link rel="stylesheet" media="(max-width: 600px)" href="css/tablet.css">
    <link rel="stylesheet" media="(max-width: 800px)" href="css/pc.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <header>
        <h2>Biblioteca</h2><!--Esto será luego una imagen o algo asi-->

    </header>
    <nav>
        <h3 th:href="">Inicio</h3>
        <h3 th:href="">Libros</h3>
        <h3 th:href="">Contacto</h3>
        <h3 th:href="">Cuenta</h3>
    </nav>
    <main>
        <section id="seccionLogin">
            <h1>Login</h1>
            <form>
                <input type="text" id="loginUser" placeholder="Nombre de Usuario">
                <input type="password" id="loginPass" placeholder="Contraseña">
                <button id="btnLogin">Entrar</button>
            </form>


        </section>
        <section id="seccionRegistro">
            <h1>Registro</h1>
            <form><input type="email" id="registroEmail" placeholder="Correo Electronico">
                <input type="text" id="registroUser" placeholder="Usuario">
                <input type="text" id="registroNombre" placeholder="Nombre">
                <input type="text" id="registroApellidos" placeholder="Apellidos">
                <input type="text" id="registroDNI" placeholder="DNI">
                <input type="text" id="registroPass" placeholder="Contraseña">
                <input type="text" id="registroPass2" placeholder="Repetir Contraseña">
                <button id="btnRegistro">Registrame</button>
            </form>

        </section>
        <div><span>Login</span><span></span><span>Registro</span></div>

    </main>
    <footer>
        <div>
            <div>
                <p>adipisicing elit. Perferendis praesentium veniam eligendi</p>
            </div>
            <div>
                <p>nihil, totam molestiae, soluta facilis quibusdam fugit reiciendis natus quam fuga alias dolores
                    repudiandae!
                </p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur aliquid deserunt. Iusto, a </p>
            </div>
        </div>
        <h4>©Bibliotecarios S.L. 2022/2023</h4>
    </footer>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/general.js"></script>

</body>

</html>