<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Post</title>


<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link rel="stylesheet" th:href="@{/css/post.css}">
<link rel="stylesheet" media="(max-width: 600px)"
	th:href="@{/css/movil.css}" />
<link rel="stylesheet" media="(min-width: 600px) and (max-width: 800px)"
	th:href="@{/css/tablet.css}" />
<link rel="stylesheet" media="(min-width: 800px)"
	th:href="@{/css/pc.css}" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>

	<header>
		<h2>
			<a th:href="@{/}">Biblioteca</a>
		</h2>
		<!--Esto será luego una imagen o algo asi-->
	</header>

	<aside id="menuMovil">
		<img src="/images/close_black_24dp.svg">
		<h3>
			<a th:href="@{/}">Inicio</a>
		</h3>
		<h3>
			<a th:href="@{/tienda}">Libros</a>
		</h3>
		<h3>
			<a th:href="@{/contacto}">Contacto</a>
		</h3>
		<!--solo puede haber 1 de estos dos activo-->
		<h3>
			<a href="proximamente.html">Cuenta</a>
		</h3>
		<h3>
			<a th:href="@{/foro}">Foro</a>
		</h3>
		<h3>
			<a th:href="@{/login}">Login</a>
		</h3>
	</aside>
	<nav>
		<h3>
			<a th:href="@{/}">Inicio</a>
		</h3>
		<h3>
			<a th:href="@{/tienda}">Libros</a>
		</h3>
		<h3>
			<a th:href="@{/contacto}">Contacto</a>
		</h3>
		<h3>
			<a th:href="@{/foro}">Foro</a>
		</h3>
		<!--solo puede haber 1 de estos dos activo-->
		<h3 sec:authorize="isAnonymous()">
			<a th:href="@{/login}">Cuenta</a>
		</h3>
		<h3 sec:authorize="isAuthenticated()">
			<a
				th:href="@{/usuarios/{idUsuario}(idUsuario=${#authentication.name})}">Cuenta</a>
		</h3>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h3>
				<a th:href="@{/adminIndex}">Admin</a>
			</h3>
		</div>
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<h3>
					<input id="logoutBoton" type="submit" value="Logout" />
				</h3>
			</form>
		</div>

		<!-- SI NO SE HA AUTENTICADO -->
		<div sec:authorize="isAnonymous()">
			<h3>
				<a href="/login">Login</a>
			</h3>

		</div>
		<div sec:authorize="isAnonymous()">
			<h3>
				<a th:href="@{/registro}">Registro</a>
			</h3>
		</div>
		<div id="google_translate_element" class="google"></div>
		</div>

		<!---->
		<img th:src="@{/images/menu_black_24dp.svg}" id="btnMenuMovil" />
	</nav>
	<main>
		<div class="volver">

			<a th:href="@{/foro}"><img
				th:src="@{/images/arrow_back_black_24dp.svg}" class="botonIconoBack" /></a>

		</div>
		<div class="post-container">
			<div>
				<p class="post-cat" th:text="${postDTO.categoriaDTO}"></p>

				<h1 class="post-title" th:text="${postDTO.tituloDTO}"></h1>
				<p class="post-fecha"
					th:text="${#temporals.format(postDTO.fechaCreacionDTO, 'dd/MM/yyyy HH:mm')}"></p>


			</div>
			<p class="post-author">
				Por <span th:text="${postDTO.usuarioDTO.username}"></span>
			</p>
			<p class="post-content" th:text="${postDTO.contenidoDTO}"></p>


			<div>
				<a sec:authorize="isAuthenticated()" class="reply-link"><img
					id="btn-comment-post" th:src="@{/images/chat_black_24dp.svg}"
					class="botonIcono" /></a>

				<div>
					<!-- Agregar el botón de like y un identificador para el post -->
					<a sec:authorize="isAuthenticated()" class="like-link"
						th:href="@{/foro/{postId}/like(postId=${postDTO.id})}"> <img
						th:if="${postDTO.likesDTO >= 1 }"
						th:src="@{/images/favorite_black_24dp.svg}" class="botonIcono" />
						<img th:if="${postDTO.likesDTO < 1 }"
						th:src="@{/images/favorite_border_black_24dp.svg}"
						class="botonIcono" /> <b th:text="${postDTO.likesDTO}"> </b>
					</a>

				</div>




			</div>

		</div>
		<!-- Agrega este código en la vista post.html donde deseas que aparezca el formulario de comentarios -->

		<div id="comment-form-container">
			<form th:action="@{/foro/{idPost}/comentar (idPost= ${postDTO.id})}"
				method="POST" th:object="${nuevoComentarioDTO}">
				<div class="form-group">
					<textarea class="form-control" rows="3"
						id="comentarioDTO.contenidoDTO" name="comentarioDTO.contenidoDTO"
						placeholder="Escribe tu comentario aquí..."
						th:field="${nuevoComentarioDTO.contenidoDTO}"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Comentar</button>
			</form>
		</div>

		<div class="comments-container">
			<h2 class="comments-title">Comentarios</h2>
			<ul class="comments-list">
				<li th:each="comentario : ${listaComentariosDTO}"
					th:if="${comentario.comentarioPadreDTO == null}">
					<div class="comment parent-comment">
						<p class="comment-content" th:text="${comentario.contenidoDTO}"></p>
						<p class="comment-author">
							Por <span th:text="${comentario.usuarioDTO.username}"></span>
						</p>
						<p class="comment-author"
							th:text="${#temporals.format(comentario.fechaCreacionDTO, 'dd/MM/yyyy HH:mm')}"></p>

						<a sec:authorize="isAuthenticated()" class="reply-link"><img
							id="btn-comment-comment" th:src="@{/images/chat_black_24dp.svg}"
							class="botonIcono" /></a>

						<div id="comment-form-container">
							<form
								th:action="@{/foro/{idPost}/comentar/{idComment} (idPost= ${postDTO.id},idComment= ${comentario.id})}"
								method="POST" th:object="${nuevoComentarioDTO}">
								<div class="form-group">
									<textarea class="form-control" rows="3"
										id="comentarioDTO.contenidoDTO"
										name="comentarioDTO.contenidoDTO"
										placeholder="Escribe tu comentario aquí..."
										th:field="${nuevoComentarioDTO.contenidoDTO}"></textarea>
								</div>
								<button type="submit" class="btn btn-primary">Comentar</button>
							</form>
						</div>



						<ul class="child-comments-list"
							th:if="${#lists.size(comentario.listaComentariosDTO) gt 0}">

							<li
								th:each="respuesta, iterStat : ${comentario.listaComentariosDTO}">
								<div class="comment child-comment"
									th:classappend="${iterStat.index gt 2} ? 'hidden'">
									<p class="comment-content" th:text="${respuesta.contenidoDTO}"></p>
									<p class="comment-author">
										Por <span th:text="${respuesta.usuarioDTO.username}"></span>
									</p>
									<p class="comment-author"
										th:text="${#temporals.format(respuesta.fechaCreacionDTO, 'dd/MM/yyyy HH:mm')}"></p>


								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</main>





	<footer>
		<div>
			<div>
				<h5>Nosotros</h5>
				<ul>
					<li><a>Acerca de nosotros</a></li>
					<li><a>Contacto</a></li>
					<li><a>Empleo</a></li>
										<br>
					<div id="donate-button-container">
						<div id="donate-button"></div>
						<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
						<script>
							PayPal.Donation.Button({
								env: 'sandbox',
								hosted_button_id: 'BRUKLHDVMJMUE',
								image: {
									src: 'https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif',
									alt: 'Botón Donar con PayPal',
									title: 'PayPal - The safer, easier way to pay online!',
								}
							}).render('#donate-button');
						</script>
					</div>
				</ul>
			</div>

			<div>
				<h5>Servicios</h5>
				<ul>
					<li><a>Envío</a></li>
					<li><a>Devoluciones</a></li>
					<li><a>Preguntas frecuentes</a></li>
				</ul>

			</div>
			<div>
				<h5>Contacto</h5>
				<ul>
					<li>123 Calle Principal</li>
					<li>Ciudad, Estado</li>
					<li>Código Postal</li>
					<li>555-555-5555</li>
					<li><a>info@libreria.com</a></li>
				</ul>
			</div>
		</div>
		<h4>
			Copyright &copy; Bibliotecarios S.L.
			<script>document.write(new Date().getFullYear());</script>
		</h4>
	</footer>
	<script type="text/javascript"
		src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script th:src="@{/js/traduccion.js}"></script>
	<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
	<script th:src="@{/js/foro.js}"></script>
	<script th:src="@{/js/general.js}"></script>

</body>

</html>