* {
	margin: 0;
	padding: 0;
}

table {
	margin-bottom: 20px;
}

td {
	padding: 10px;
}

input[type="text"], input[type="email"] {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	width: 250px;
}

input[type="submit"] {
	border: 2px solid #333;
	border-radius: 5px;
	background-color: #58341c;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 20px;
	margin: 0 auto;
	cursor: pointer;
	height: auto;
}

h1 {
	grid-column: 1/3; /* Ocupa las dos columnas */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

form {
	grid-column: 1/3; /* Ocupa las dos columnas */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}