#carousel {
	width: 80%;
	height: 420px;
	position: relative;
	overflow: hidden;
}

#carousel img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 1s;
	filter: blur(3px);
}

#carousel img:first-child {
	opacity: 1;
}

main {
	flex-direction: column;
	gap: 40px;
	text-align: center;
}

#content {
	display: flex;
	border: solid 1px black;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	padding: 20px;
}

#nuevasAdiciones {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	justify-items: center
}

#mensajeBienvenida {
	margin-left: 20px;
	transition: all 1s;
	font-weight: bold;
}

#logoutBoton {
	text-decoration: none;
	color: #513719;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	border-bottom: none;
	height: auto;
}

.imagenConfirm {
	height: 300px;
}

.confirmDiv {
	display: flex;
	gap: 30px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: center;
	max-width: 60%;
}

.catalogoDiv {
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.confirmDiv>p {
	max-width: 739px;
}

.mensaje-despues::after {
	
  content: "Se ha enviado un correo. Puede tardar unos minutos.";
  display: block;
  margin-top: 10px;
  color: green;
}

button[disabled] {
 
  cursor: not-allowed;
}


button[disabled]:hover {
 transform:scale(1);
	background-color:#0000001a;
	box-shadow: none;
}


